@use "_variables" as *;

@media screen and(min-width:$desktop-width) {
  html {
    font-size: $desktop-font-size;
  }

  body {
    background: $pale-blue url(/images/pattern-background-desktop.svg) top -40px
      left 0 no-repeat;
    background-size: 100%;
    margin: 0;
  }

  .page {
    width: 450px;
  }

  .summary-card-content {
    padding: 3rem 3rem;
  }

  .summary-card__title {
    letter-spacing: normal;
    margin-bottom: 1.2rem;
  }

  .summary-card__text {
    line-height: 1.6em;
    letter-spacing: normal;
    margin-bottom: 1.6rem;
  }

  .summary-card__order-content-container {
    padding: 1.3rem 1.5rem;
    margin-bottom: 2.3rem;
  }

  .summary-card__button {
    padding: 1rem;
    margin-bottom: 2.1rem;
    font-size: 0.9rem;
  }
}
