@use "_variables" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: $mobile-font-size;
  width: 385px;
  padding: 2rem;
}

@media screen and(min-width:$desktop-width) {
  html {
    width: calc(450px + 4rem);
  }
}
