// Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$warmer-blue: hsl(244, 82%, 66%);

// Typography
$base-font-size: 16px;
$font-family: "Red Hat Display", sans-serif;

%m0p0 {
  margin: 0;
  padding: 0;
}
